/* PROJECT UTILITIES */

/* Utilities Text */
.u-center-text {
  text-align: center !important;
}

/* Utilities Margin Bottom */
.u-margin-bottom-s {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-m {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-l {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

/* Utilities Margin Top */
.u-margin-top-l {
  margin-bottom: 8rem !important;
}
.u-margin-top-xl {
  margin-bottom: 10rem !important;
}
